html {
    background-image: url(https://trello.com/1/cards/63ce520f56bcb40293c483b7/attachments/63ce520f56bcb40293c483d8/previews/63ce521056bcb40293c483e5/download/image.png);
    background-size: cover;
    background-attachment: fixed;
}   

img {
    transition: 0s background-color;
    transition: transform 0.5s;
}

img:hover {
    transition-delay: 0.3s;
    transform: scale(0.85);
}

.grad {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
from {
-webkit-filter: hue-rotate(0deg);
}
to {
-webkit-filter: hue-rotate(-360deg);
}
}
